__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
data/raw/*.csv
data/raw/*.pcap
data/processed/*.npz
data/processed/*.joblib
data/processed/*.csv
models/*.h5
models/*.keras
models/*.joblib
models/*.json
.streamlit/
.ipynb_checkpoints
.DS_Store
